/* header和footer公共样式 */

#header{
	width: 100%;
	height: 65px;
	background: #333;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
}
#header:after{
	width: 100%;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 0px;
	background: #333;
	transition: all .2s;
}
#header:hover:after{
	height: 65px;
}
#header .wrap{
	position: relative;
	height: 65px;
	z-index: 1000;
}
#header .logo{
	width: 250px;
	float: left;
	margin-top: 13px;
}
#header .logo img{
	width: 80%;
}
#header .sign{
	float: right;
	padding-top: 16px;
	line-height: 25px;
}

#nav{
	float: left;
	font-size: 14px;
	line-height: 65px;
}
#nav li{
	float: left;
	margin: 0 5px;
	position: relative;
	-webkit-perspective:800px;
}
#nav li.active{
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,.6);
}
#nav li.active{
	background: #FFF400;
	color: #fff;
}
#nav li.active a:hover{
	color: #fff;
}
#nav li>a{
	float: left;
	color: #fff;
	padding: 0 15px;
	position: relative;
	z-index: 3;
}
#nav li a:hover{
	color: #FFF400;
}

#nav li ul{
	width: 145px;
	z-index: 2;
	position: absolute;
	padding: 10px 20px 20px;
	top: 65px;
	left: -10px;
	background: #333;
}
#nav ul li{
	float: none;
	height: 30px;
	line-height: 30px;
}
#nav li ul li a{
	padding: 0;
	color: #fff;
}

#header #nav li:hover ul{
	display: block;
	opacity: 1;	
}


#header .sign a{
	float: right;
	font-size: 14px;
	height: 25px;
	padding: 3px 8px;
	border: 1px solid #fff;
	transition: all .5s;
	margin-left: 20px;
	color: #fff;
}
#header .sign a:hover{
	color: #FFF400;
	border-color: #FFF400;
}
.sign_wrap{
	width: 100%;
	z-index: 999;
	position: absolute;
	top: 0;
	background: rgba(0,0,0,.4);
	display: none;
}


.sign_con{
	width: 430px;
	height: 432px;
	position: fixed;
	left: 50%;
	margin-left: -215px;
	margin-top: -216px;
	background: rgba(0,0,0,0);
	text-align: center;
}
.sign_con img{
	width: 300px;	
}
.form{
	background: #fff;
	margin-top: 20px;
	height: 350px;
	border-radius: 10px;
	position: relative;
}
.form ul{
	overflow: hidden;
	border-radius: 10px 10px 0 0;
	height: 60px;
	line-height: 60px;
	border-bottom: 2px solid #333;
	box-shadow: 1px 2px 5px 1px rgba(0,0,0,.4);
}
.form li{
	float: left;
	width: 50%;
	font-size: 18px;
	text-align: center;
}
.form li.active{
	background: #333;
	color: #fff;
}
.form li.active a{
	color: #fff;
}
.form li a{
	width: 100%;
	float: left;
	color: #000;
}
.form .close{
	width: 30px;
	height: 30px;
	position: absolute;
	right: -26px;
	top: -26px;
	background: url(../img/close.png) no-repeat center;
	background-size: cover;
}
.form div{
	position: absolute;
	padding: 30px 38px;
	height: 290px;
	box-sizing: border-box;
	font-size: 18px;
}
.form p{
	height: 40px;
	margin-bottom: 20px;
}
.form span{
	float: left;
	width: 100px;
	line-height: 40px;
	text-align: right;
	margin-right: 20px;
}
.form input{
	border-radius: 5px;
	width: 216px;
	border-color: #333;
	outline: none;
	padding-left: 10px;
	height: 34px;
}
.form a.btn{
	margin: 0 auto;
	display: block;
	width: 160px;
	color: #fff;
	height: 50px;
	border-radius: 10px;
	height: 40px;
	line-height: 40px;
	background: gold;
}
.form a.btn:hover{
	background: #3fbcef;
}
.form a.togo{
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 14px;
	color: #333;
}
.form a.togo:hover{
	text-decoration: underline;
}


/*footer*/
.footer{
	bottom: 0;
	text-align: center;
	padding: 15px 0;
	width: 100%;
	background: #333;
}
.footer .logo{
	display: block;
	width: 200px;
	margin: 0 auto 15px;
}
.footer .logo img{
	width: 200px;
}
.footer p{
	color: #fff;
	line-height: 18px;
	font-size: 12px;
}
.footer p a{
	margin-right: 10px;
	color: #98FB98;
}
.footer p a:hover{
	text-decoration: underline;
}

